*{
    font-family: "Arvo";
}
nav {
  background-color: rgb(169, 169, 169);
}
#history {
  justify-content: center;
}
#submit {
  align-items: center;
  background-color: rgb(17, 167, 167);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0 16px 0 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
  font-size: 20px;
}
header{
    margin-bottom: 20px;
}
button {
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 0 16px 0 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
  font-size: 15px;
  font-family: "Arvo";
}
button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.page-footer {
  background-color: rgb(169, 169, 169);
  max-width: 100%;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;

}

#subscribeBtn {
  background-color: rgb(17, 167, 167);
  color: white;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.sidebar{
    height:100vh;
    border-right: solid rgb(169, 169, 169);
}
.top{
    height: 100vh;
}
@media screen and (max-width: 600px) {
.sidebar{
    height: fit-content;
}    
.card-title{
    font-size: 10px;
}
}
#contact_links li{
    display:inline;
}
#contact_links a{
    flex-direction: row;
    color:white;
}
.hidden{
    display:none;
}
.visible{
    display:flex;
}
